<h1>Channels</h1>
<ul>
  <% @channels.each do |channel| %>
    <li>
      Channel:
      <%= link_to channel.name, channel %>   
      <%= channel.messages.size.inspect%>
      messages
    </li>
  <% end %>
</ul>

<%= link_to "Add a new Channel", new_channel_path %>