<h1><%= @channel.name %></h1>
<%= link_to "back to channels", "/channels/"%>
<%= render template: "message/show" %>

<%# 
causes two copies of channel
interval causes a reload too quickly when sent to 5000, 5 seconds
second copy does rendering while first copy does not
%>
<%= render_async channel_path(@channel), interval: 10000 %>