<h1>user list</h1>
<% @users=User.all%>
<div class="overflow-auto show-user-list" style="overflow:auto;height: calc(85vh - 7rem);">
    <% @users.each do |user| %>
      <% if user.username != "guest" %>
        <div class="user">
          <%= user.username %>
        </div>
      <%end%>
    <% end %>
</div>