<h1>Message#create</h1>
<h2>Debug Params</h2>
<%= params.inspect%>
<h2>Debug Message</h2>
<%= @message.inspect %>
<h2>Debug User</h2>
<%= current_user.inspect %>
<p>Find me in app/views/message/create.html.erb</p>
