<h1>Message Save Error</h1>

<p>follows are the debug info: </p>
<%= @message.errors.full_messages.inspect %>
<%= @message.inspect%>
<%= User.all.inspect%>
<p>
Messages fail to save into database
</p>
<%= link_to "back to main" '/'%>
