<div class="Messaging">
    <div class="showMessage">
        <%= params.inspect %>
        <% if @channel then%>
            <% @channel.messages.each do |message| %>
            <div class="message">
                <%= message.content%>
            </div>
            <% end %>
        <% end%>
    </div>
    <%= render_async get_messages_url(params), interval: 5000%>  
</div>
<%= content_for :render_async %>