<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Harmony</a>
  <a class="navbar-brand" href="/users#index">all users</a>
  <a class="" href = "users#index">
    <img class="img-fluid" id="user_pic" src="https://picsum.photos/130/130?image=1027">
  </a>
</nav>
