// Run this example by adding <%%= javascript_pack_tag 'hello_erb' %> to the head of your layout file,
// like app/views/layouts/application.html.erb. Don't forget to uncomment erb tag after adding it to your layout file.

require("jquery")

window.jQuery = $
window.$ = $

$(document).ready(function(){

      $('button.btn').click(function(){
            var authenticity = $(this).attr('data-authenticity')
            var channel_id = $(this).attr('data-channel-id')
            var message_id = $(this).attr('data-message-id')
            add_child_form(message_id,channel_id,authenticity)
      })

      var messageContainer = document.getElementById('messageContainer')
      messageContainer.scrollTop = messageContainer.scrollHeight
      $('#messageContainer').scroll(function(){
            if($(this).scrollTop()==0){
                  params = { "ReverseId": $(this).children("div").length }
                 $.ajax({
                        url: window.location.pathname+"/messages/history",
                        datatype: "JSON",
                        type: 'GET',
                        data:params,
                        success: function(result){
                        data = result["data"]
                        historyMessages = $.map(result, function(notification){
                          return "<a class='dropdown-item' href='"+ notification.url + "'>" + notification.actor + " " + notification.action + " in " + notification.notifiable.name + "</a><br>"
                        })
                        messages = $.map(result,generateHtml())
                        $("messageContainer").prepend()
                        $("[data-behavior='unread-count']").text(items.length)
                        $("[data-behavior='notification-items']").html(items)
                        }
                  }) 
            }
      })
	setInterval(textRender,5000)
})

function add_child_form(elt_id, channel_id, form_auth_token) {
      var curr_div = document.getElementById(elt_id);
      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", `/channels/${channel_id}/messages`);
      form.setAttribute("accept-charset", "UTF-8");

      var auth = document.createElement("input");
      auth.setAttribute("type", "hidden");
      auth.setAttribute("name", "authenticity_token");
      auth.setAttribute("value", form_auth_token);

      var parent_id = document.createElement("input");
      parent_id.setAttribute("type", "hidden");
      parent_id.setAttribute("name", "message[parent_message_id]");
      parent_id.setAttribute("value", elt_id);

      var content = document.createElement("input");
      content.setAttribute("type", "text");
      content.setAttribute("name", "message[content]");
      auth.setAttribute("id", 'message_content');

      var submit = document.createElement("input");
      submit.setAttribute("type", "submit");
      submit.setAttribute("name", "commit");
      submit.setAttribute("value", "Send message");
      submit.setAttribute("class", "btn btn-primary");
      submit.setAttribute("data-disable-with", "Send message");

      form.appendChild(auth);
      form.appendChild(content);
      form.appendChild(submit);
      form.appendChild(parent_id);

      curr_div.appendChild(form);
}

function textRender(){
      var container = $('#messageContainer');
      //$.ajax("messages/ajaxRender")
      var presentPath = window.location.pathname
      //console.log(presentPath)
      $.ajax({
            url: presentPath+"/messages/ajaxRender",
            type: 'GET',
            success: function(result){                      
                  jQuery("#messageContainer").html(result);
            }
      })
}

function messageRender(message){
      if(message.parent_message==nil)
      var b = "<b>"+message.user_id+"</b>"
      $form = $("<form></form>")
      var forminput1 = '<input id="message_content" type="text" value="'+message.content+'" name= "message[content]">'
      var forminput2 = '<input type="submit" name="commit" value="Edit" class="btn btn-primary" data-disable-with="Edit">'
      $form.append(forminput1)
      $form.append(forminput2)
}